<h1>Sign Up</h1>

<%= form_for(@user) do |f|  %>
  <%= render 'shared/error_messages'%>
  <div class = field>
    <%= f.label :name %><br />
    <%= f.text_field :name%><br />
    <%= f.label :email %><br />
    <%= f.email_field :email%><br />
    <%= f.label :password %><br />
    <%= f.password_field :password%><br />
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation%><br />
  </div>
  <div class = "actions">
    <%= f.submit "Sign Up" %><br />
  </div>

<% end %>
