<% if @user.errors.any?  %>
  <div id = "error_explaination">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:
    </h2>
    <p> There were problems with the following fields: </p>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
