<h1>Sample App</h1>
<p>Home page for Sample app based on RoR tutorial</p>
<p><a href = "http://www.cyogesh.com">My page</a></p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
