<footer>
  <nav class="round">
  <ul>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "PlanteRoRBlog", 'http://planetrubyonrails.com' %></li>
    <li><%= link_to "RailsOnTwitter", 'https://twitter.com/rails' %></li>
    <li><%= link_to "Blog", 'http://weblog.rubyonrails.org/' %></li>
  </ul>
  </nav>
</footer>
