    <!--[if lt IE9]>
    <script src=http://htmlshiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "blueprint/screen", media: "screen, projection" %>
    <%= stylesheet_link_tag    "blueprint/print", media: "print" %>
    <!--[if lt IE8]><%stylesheet_link_tag "blueprint/ie", media: "all"%><![endif]-->
    <%= stylesheet_link_tag     "blueprint/custom",         media:"screen" %>
    <%= javascript_include_tag "application" %>

